body {
    background-color: #2f4b52;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
header {
    top: 0;
    position: relative;
    display: flex;
    align-items: stretch;
}
.nav {
    position: fixed;
    right: 0;
    width: 16vw;
    top: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #9f8cac;
    z-index: 100;
    align-items: stretch;
    gap: 2rem;
    transform: translateX(100%);
    transition: all 0.2s;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    opacity: 0.9;
    padding-left: 3%;
}
.nav-open {
    transform: translateX(0%);
}
.nav a {
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.nav li {
    list-style: none;
    font-size: 1.39vw;
    padding: 0;
    color: aliceblue;
}
.nav li:nth-child(1){
    margin-top: 20vh;
}
#burger {
    width: 3vw;
    height: 3vw;
    position: absolute;
    margin-right: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    right: 7vw;
    z-index: 1000;
    top: 9.5vh;
}
#burger span {
    display: block;
    position: absolute;
    height: 10%;
    width: 100%;
    background: #ffb870;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
#burger span:nth-child(1) {
    top: 0px;
}
#burger span:nth-child(2),
#burger span:nth-child(3) {
    top: 10px;
}
#burger span:nth-child(4) {
    top: 20px;
}
#burger .open span:nth-child(1){
    top: 0px;
    width: 0%;
    left: 0;
}
#burger .open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
#burger .open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
#burger .open span:nth-child(4){
    top: 0;
    width: 0;
    left: 0;
}

footer{
    background-color: #9f8cac;
    color: #2f4b52;
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.container{
    max-width: 90%;
    margin: 0 auto;
    padding: 0 15px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col-md-4{
    flex: 0 0 33%;
    max-width: 33%;
    text-align: center;
}
h3{
    margin-bottom: 15px;
    color: #ffb870;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
li{
    margin-bottom: 18px;
}
.social-icons li{
    display: inline-block;
    margin-right: 10px;
}
.social-icons li a{
    color: #2f4b52;
    font-size: 30px;
}
@media (max-width: 991px){
    .col-md-4{
        flex: 0 0 50%;
        max-width: 100%;
    }
}
@media (max-width: 767px){
    .col-md-4{
        flex: 0 0 100%;
        max-width: 100%;
    }
}
.fa-brands fa-facebook-f, fa fa-github{
    color: #2f4b52;
    size: 30px;

}

